<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()" >
      <img src="../../../assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
    <div class="side-menu" [class.active]="activeMenu">
      <button (click)="toggleMenu()">close</button>
      <ul>
        <li><a href="">Todo</a></li>
        <li><a href="">Ropa</a></li>
        <li><a href="">Electrodomesticos</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a href="">Todo</a></li>
        <li><a href="">Ropa</a></li>
        <li><a href="">Electrodomesticos</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">gera@nitaly.com</div>
      <div>
        <a href="">
          <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
